# FreeCAD
*.FCStd1
*.pyc
*.tmp
__pycache__
*.FCStd1~
*.bak
*.backup

# Thumbnails
*.FCStd1_thumb.png

# Backup files
*~
*.bak
*.orig
*.rej

# Arduino
*.hex
*.elf
*.eep
*.bin
*.ar
*.d
build/
tmp/

# Misc
.DS_Store
Thumbs.db
